---
import { examples } from "../data"
import Principal from "../layouts/Principal.astro"

const { searchParams } = Astro.url

const id = searchParams.get("id")

if (id == null) return Astro.redirect("/")

const currentExample = examples[Number(id)]
---

<Principal title="Example result">
  <div class="text-center mt-20">
    <p class="text-3xl sm:text-6xl tracking-tight font-bold">{currentExample.name}</p>
    <p class="mt-6 text-lg text-slate-600">Option: {currentExample.option}.</p>
    <div class="flex flex-row gap-4 justify-center mt-20">
      <img src={currentExample.original} class="w-96 h-96 mb-3 rounded-3xl shadow-lg" alt={currentExample.name} />
      <img src={currentExample.modified} class="w-96 h-96 mb-3 rounded-3xl shadow-lg" alt={currentExample.name} />
    </div>
    { (currentExample.option === "custom option") ? <p class="my-7">Prompt: {currentExample.prompt}</p> : <></> }
  </div>
</Principal>
